.advanteges {
  min-height: 470px;
  padding: 70px 0 80px 0;
  background-color: #f6f6f6;
  &__wrapper {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 230px;
  }
  &__icon {
    display: block;
    margin: 0 auto;
  }
  &__subtitle {
    margin-top: 38px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  &__descr {
    margin-top: 29px;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    color: #0d0d0d;
    span {
      color: #f00;
      text-transform: uppercase;
    }
  }
}
