.carousel {
  padding: 81px 0;
  &__wrapper {
    position: relative;
  }
  &__slider {
    width: 750px;
    min-height: 580px;
    margin: 0 auto;
    position: relative;
    transition: all ease 1s;
    overflow: hidden;
  }
  &__single {
    width: 100%;
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
  }
  &__left,
  &__right {
    height: 50px;
    position: absolute;
    left: -66px;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      cursor: pointer;
      img {
        width: 110%;
      }
    }
    img {
      height: 100%;
    }
  }
  &__right {
    right: -66px;
    left: auto;
  }
}
